<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "sk.svejkgames.redandgreen"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Red and Green</name>

    <description>
        The popular Red and Green web game is now available for mobile!
    </description>

    <author href="https://twitter.come/SvejkGames" email="ibolyamark7@gmail.com">
        Svejk Games
    </author>
	 <preference name="permissions" value="none"/>
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-maxSdkVersion" value="18" />
	<preference name="android-targetSdkVersion" value="18" />
	<preference name="android-installLocation" value="auto" />
	<icon src="icon.png" />

</widget>